<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <p> <b>PJ Espinosa-Quintana</b> cuenta con Peritos Tasadores independientes que ofrecen un
          enfoque de trabajo diferente al de sus competidores, lo que les permite brindar el mejor
          servicio al mejor precio. Estos expertos están altamente capacitados en la valoración y
          tasación, catalogación y elaboración de informes periciales de diversos bienes y servicios. </p>

      <p>En <b>PJ Espinosa-Quintana</b> contamos con Titulación suficiente para ejercer como Perito
        Judicial en los Juzgados y Tribunales Españoles de conformidad con lo establecido en la Ley de
        Enjuiciamiento Civil y la Instrucción 5/2000. Además, disponemos de amplios conocimientos
        jurídicos ya que, como se sabe, el perito judicial es un operador jurídico de más o igual
        importancia que abogados o procuradores. Este es otro requisito importante ya que
        deben colaborar con el Juez en aspectos cienơficos o técnicos, y deben proceder conforme a
        derecho para que sus trabajos (tasaciones o peritajes) sean aceptados. </p>

    </div>
  </div>
</div>
